@using BeerShop.Services.Shopping

@inject IShoppingCountryService countries

    @{ 
        var countriesWithBeers = countries.CountriesWithBeersCount();
    }

<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
    By Country
</a>
<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    @foreach (var country in countriesWithBeers)
    {
        <li><a class="dropdown-item" asp-area="Shopping" asp-controller="Beers" asp-action="ByCountry" asp-route-id="@country.Id">@country.Name (@country.Beers)</a></li>
    }
</ul>