
<form class="form-inline">
    <div class="input-group">
        <div class="input-group-btn">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter by
                <span class="caret"></span>
            </button>
            <div class="dropdown-menu text-center">
                <input class="dropdown-item" type="checkbox" />
                <label>lalalal</label>
                <input input class="dropdown-item" type="checkbox" />
                <label>lalalalsdakd</label>
            </div>
        </div>
        <input type="text" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
            <button class="btn btn-outline-warning" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</form>