@model IEnumerable<CountryListingModel>
@{
    ViewData["Title"] = "All Countries";
}
<h2>@ViewData["Title"]</h2>
<div>
    <a href="/administration/countries/create" class="btn btn-lg btn-outline-primary">Add Country</a>
</div>
<hr />
<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>Continent</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var country in Model)
        {
            <tr>
                <td>
                    @country.Name
                </td>
                <td>
                    @country.Continent.ToString()
                </td>
                <td>
                    <a href="#" class="btn btn-sm btn-outline-primary">Add Brewery</a>
                    <a href="#" class="btn btn-sm btn-outline-primary">Add Town</a>
                </td>
            </tr>
        }
    </tbody>
</table>