@model IEnumerable<BeerByCountryServiceModel>
@{
    ViewData["Title"] = "By Country";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <h2 class="text-uppercase">Beers</h2>
    <div class="row">
        @foreach (var beer in Model)
        {
            <div class="col-sm-4 col-md-3 col-lg-3 mt-3">
                <div class="card text-center">
                    <a asp-area="Shopping" asp-controller="Beers" asp-action="Detais" asp-route-id="@beer.Id"><img class="card-img-top" src="https://image.freepik.com/free-vector/vector-illustration-with-fresh-lager-beer-in-a-beer-mug-on-transparent-background_1314-523.jpg"></a>
                    <div class="card-block">
                        <h5 class="text-bold">@beer.Name</h5>
                    </div>
                    <div class="card-text">
                        @beer.Price $
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-warning btn">Add to cart</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>