@model AccessoryDetailsServiceModel
@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>
<section>
    <div class="container">
        <div class="card">
            <div class="row">
                <div class="col-md-6">
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active">
                            <img class="card-img-top" src="https://images.food52.com/MpjXOmbhOEzetgFJnalBt6-se2c=/c99111c1-cfc2-4d61-987a-b37d5796e581--Garnish_Beer.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <div class="card-title"><h3>@Model.Name</h3></div>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">
                                <div class="card-title">Description</div>
                                <p>@Model.Description</p>
                            </div>
                            <div class="text-center">
                                <div class="card-footer"><h4>Price</h4></div>
                                <p>
                                    @Model.Price $
                                </p>
                                <a href="$" class="btn btn-outline-warning"><i class="fa fa-cart-arrow-down"></i> Add To Cart</a>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</section>