@model MessageFormViewModel

<div class="row row-map-contact">
    <div class="col-md-12" id="my-loc">

    </div>
</div>
<br />
<h2 class="text-center">Contact <strong>with Us</strong></h2>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                <div class="form-group">
                    <label class="form-check-label form-control-static pl-0" asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-check-label form-control-static pl-0" asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" placeholder="example@mail.com" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-check-label form-control-static pl-0" asp-for="Phone"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-check-label form-control-static pl-0" asp-for="Subject"></label>
                    <input asp-for="Subject" class="form-control" />
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-check-label form-control-static pl-0" asp-for="Content"></label>
                    <textarea asp-for="Content" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group mt-4 mb-2">
                    <button type="submit" class="btn btn-outline-success text-uppercase">
                        Send Your Message
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h3>Nice to hear You!</h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in
            </p>
            <h3>Contact Information</h3>
            <h6>
                Business Hours
            </h6>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            </p>
            <h6>
                Address
            </h6>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
            </p>
            <h6>
                Phone number
            </h6>
            <p>
                +3593 37283718731
            </p>
            <h6>
                Email
            </h6>
            <p>
                beeracademy@gmail.com
            </p>
        </div>
    </div>
</div>

<script>
    function myMap() {
        var myLatLng = { lat: 42.498220, lng: 27.465126 };
        var map = new google.maps.Map(document.getElementById('my-loc'), {
            zoom: 18,
            center: myLatLng
        });
        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Beer Academy'
        });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFf6lEs1_IeY4SCrcLdSPrSAMud22pBIA&callback=myMap"></script>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}