@model MessageFormModel
    <div class="container">
        <div class="jumbotron col-md-8">
            <div class="row">
                <div class="col-md-8">
                    <form method="post">
                        <h4 class="text-center">Contact us</h4>
                        <hr />
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                <input asp-for="Name" class="form-control" placeholder="Your Name"/>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-at"></i></div>
                                <input asp-for="Email" class="form-control" placeholder="Email"/>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                <input asp-for="Subject" class="form-control" placeholder="Subject"/>
                                <span asp-validation-for="Subject" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                <textarea asp-for="Content" class="form-control" rows="5" placeholder="Message"></textarea>
                                <span asp-validation-for="Content" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group mt-4 mb-2">
                            <button type="submit" class="btn btn-outline-success">
                                Send Message
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" id="my-loc"></div>
    </div>
</div>

<script>
    function myMap() {
        var myLatLng = { lat: 42.498220, lng: 27.465126 };
        var map = new google.maps.Map(document.getElementById('my-loc'), {
            zoom: 18,
            center: myLatLng
        });
        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Beer Academy'
        });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFf6lEs1_IeY4SCrcLdSPrSAMud22pBIA&callback=myMap"></script>

