@model StyleFormModel
<form method="post">
    <hr />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ServingTemp"></label>
        <input asp-for="ServingTemp" class="form-control" placeholder="Example: 3-7">
        <span asp-validation-for="ServingTemp" class="text-danger"></span>
    </div>
    <a href="/administration/styles/all" class="btn btn-primary">Back</a>
    <button type="submit" class="btn btn-success">Save Style</button>
</form>