@model StyleFormViewModel
<form method="post">
    <hr />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <a asp-controller="Styles" asp-action="All" class="btn btn-outline-info">Back</a>
    <button type="submit" class="btn btn-outline-success">Save Style</button>
</form>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}